/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/* style of css starts from here */

body {
    font-family: 'Kanit', sans-serif;
    margin: 0%;
}

/* top parts style is here */

ul {
    margin: 0%;
}

nav {
    background-image: linear-gradient(to right, rgb(33, 60, 180), rgb(37, 216, 132));
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

nav li a {
    text-decoration: none;
    color: rgb(197, 241, 116);
    font-size: 35px;
}

.top-log {
    margin-left: 600px;
    margin-top: 20px;
}


.top-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(to right, rgb(32, 71, 245), rgb(2, 204, 110));

}

.big-text {
    font-size: 45px;
    color: cornsilk;
}

.simple-button {
    background-image: linear-gradient(to right, rgb(255, 218, 151), rgb(241, 123, 123));
    border-radius: 7px;
    width: 130px;
    height: 50px;
    transition: width 5s, transform 5s;
}

.simple-button:hover {
    width: 300px;
}

.game {
    padding: 30px 30px 30px;
    margin: 85px;
}

.banner img {
    height: 500px;
    width: 590px;
    margin-top: 20px;
}

/* mid part styles start from here  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 160px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 70%;
    padding: 3% 3% 3%;
    margin-left: 10%;
    margin-right: -3%;
    margin-top: 10%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(192, 201, 231);
    text-align: justify;
}

.player img {
    Width: 250px;
    Height: 256px;
    margin-left: 10px;
    margin-top: 15px;
}

/* bottom style is here  */

.bottom-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image: linear-gradient(to right, rgb(81, 226, 190), #f394d7);
    margin-top: 50px;
}

.bottom-h {
    font-size: 45px;
    text-align: left;
    color: rgb(59, 48, 2);
    margin: 0;
    padding: -6%;
}

.low {
    margin: 40px;
}

.bottom-banner img {
    height: 390px;
    width: 400px;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 40px;
}

/* my added options style is here  */

.email-data {
    background-image: linear-gradient(to left, rgb(57, 149, 57), rgb(158, 158, 93));
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 20px;

}

.sign-up {
    background-image: linear-gradient(to left, rgb(49, 245, 108), rgb(255, 135, 135));
}

/* help and support parst style here */

.support {
    background-image: linear-gradient(to right, rgb(78, 40, 40), black);
    padding-top: 6px;
    padding-bottom: 15px;
    color: wheat;
}

.help-desk {
    text-align: center;

}

.helps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 230px;
    margin-bottom: 30px;
}



/* footer style here */

footer {
    height: 212px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 202, 202);
    padding-top: 25px;
}

.icons {
    margin: 15px;
}

.footer-logo {
    width: 250px;
    height: 80px;
}